.addressModal {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}

.addressModal form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.addressModal label {
  display: flex;
  flex-direction: column;
}

.addressModal label input {
  padding: 0.25rem 0.5rem;
}

.addressModal form div {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.addressModal form button {
  padding: 0.25rem 1rem;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: white;
}

.addressModal form button:hover {
  cursor: pointer;
  background: var(--primary-color);
}
