.profile_page {
  max-width: 750px;
  border: 1px solid rgb(198, 197, 197);
  box-shadow: var(--card-box-shadow);
  padding: 1rem;
  margin: 1rem;
}

.profile_page .profile_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem;
}

.profile_page .profile_list_item .navlink {
  text-decoration: none;
}

.profile_page .profile_list_item .active_navlink {
  color: var(--primary-color);
  text-decoration: underline;
}

.profile_page .profile_list_item h2 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.profile_page hr {
  border: 1px solid var(--secondary-color);
}

@media (min-width: 768px) {
  .profile_page {
    width: 90%;
    margin: 2rem auto;
  }

  .profile_page .profile_list {
    flex-direction: row;
    column-gap: 5rem;
  }
}
