.addressCard_page {
  text-align: start;
  box-shadow: var(--card-box-shadow);
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
  border-radius: 5px;
}

.addressCard_page input {
  margin: 0.25rem;
}

.addressCard_page:hover,
.addressCard_page_selected {
  background: var(--secondary-color);
}

.addressCard_page:hover {
  cursor: pointer;
  transition-duration: 500ms;
}
