.home {
  background: url("../../assets/hero-image.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 350px;
}

.shop-btn {
  margin: 20px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--header-color);
}

.shop-btn:hover {
  scale: 1.15;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home {
    min-height: 450px;
  }
}
