.books {
  display: grid;
  grid-template-areas: "list";
  text-align: left;
  padding: 2rem 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.books .books_filters {
  grid-area: filters;
  height: 100vh;
  overflow-y: auto;
  display: none;
  position: sticky;
  top: 0;
  left: 0;
}

.books .books_filters p {
  display: flex;
  column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  outline: 1px solid transparent;
}

.books .books_filters .input_checked {
  outline: 1px solid var(--secondary-color);
  border-radius: 5px;
  background: var(--secondary-color);
}

.books .books_filters p:hover {
  cursor: pointer;
  outline: 1px solid var(--primary-color);
  border-radius: 5px;
  background: var(--secondary-color);
  opacity: 0.9;
  transition-duration: 250ms;
}

.books .books_filters input:hover {
  cursor: pointer;
}

.books .books_filters .books_filters_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.books .books_filters .books_filters_heading .books_filters_heading_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.books .books_filters .books_filters_heading .books_filters_heading_title div {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_heading_title
  div
  button {
  border: 1px solid transparent;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_heading_title
  div
  button:hover {
  background: white;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition-duration: 250ms;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_heading_title
  div
  div {
  color: var(--primary-color);
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_heading_title
  div
  div:hover {
  color: var(--primary-color);
  cursor: pointer;
  scale: 1.2;
  transition-duration: 250ms;
}

.books .books_filters .books_filters_heading,
.books .books_filters .books_filters_price,
.books .books_filters .books_filters_rating,
.books .books_filters .books_filters_category {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

.books .books_filters .books_filters_heading .books_filters_selected {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_selected
  .books_filters_selected_card {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  padding: 0 0.125rem;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_selected
  .books_filters_selected_card:hover {
  background: white;
  cursor: pointer;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_selected
  .books_filters_selected_card
  div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_selected
  .books_filters_selected_card
  div:hover {
  cursor: pointer;
}

.books .books_filters .books_filters_price {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.books .books_filters .books_filters_price p input {
  display: none;
}

.books .books_filters .books_filters_rating {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  accent-color: var(--secondary-color);
}

.books
  .books_filters
  .books_filters_heading
  .books_filters_selected
  .books_filters_selected_card
  p,
.books .books_filters .books_filters_rating input:hover,
.books .books_filters .books_filters_rating p:hover {
  outline: none;
  background: none;
}

.books .books_filters .books_filters_rating div {
  display: flex;
  justify-content: space-between;
}

.books .books_filters .books_filters_rating div p {
  padding: 0;
  font-size: small;
}

.books .books_filters .books_filters_category {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.books .books_filters .books_filters_category ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.books .books_list {
  grid-area: list;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-content: flex-start;
  row-gap: 1rem;
}

.books .books_list .books_list_heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.books .books_list .books_list_heading h2 p {
  font-size: small;
  display: inline;
}

.books .books_list .books_list_heading .tune-icon {
  color: var(--primary-color);
}

.books .books_list .books_list_heading .tune-icon:hover {
  cursor: pointer;
  scale: 1.2;
  transition-duration: 500ms;
}

.books .books_list .books_list_block {
  display: flex;
  width: 100%;
}

.books .books_list .books_list_block .book_list_empty {
  color: var(--primary-color);
  margin-top: 1rem;
}

.books .books_list .books_list_block ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 32px;
  column-gap: 16px;
  width: 100%;
}

.books .books_list .books_list_block ul a {
  box-shadow: var(--product-card-box-shadow);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 250px;
  height: 450px;
  overflow: hidden;
}

.books .books_list .books_list_block ul a li {
  list-style: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.books .books_list .books_list_block ul a:hover {
  box-shadow: var(--selected-product-box-shadow);
  transition-duration: 500ms;
}

@media (min-width: 528px) {
  .books .books_list .books_list_block ul a {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .books .books_filters_mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: var(--book-card-background-color);
    width: 100%;
    padding: 1rem 3rem;
    display: block;
    overflow-y: auto;
    height: 90%;
  }
}

@media (min-width: 768px) {
  .books {
    grid-template-areas: "filters list list";
    grid-template-columns: repeat(3, 1fr);
  }

  .books .books_filters {
    margin: 0 1rem;
    padding: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .books
    .books_filters
    .books_filters_heading
    .books_filters_heading_title
    div
    div {
    display: none;
  }

  .books .books_filters .books_filters_heading {
    padding-top: 0.5rem;
  }

  .books .books_filters .books_filters_price,
  .books .books_filters .books_filters_rating,
  .books .books_filters .books_filters_category {
    margin: 0;
    padding: 0;
  }

  .books .books_list {
    margin: 0;
    padding: 0;
  }

  .books .books_list .books_list_heading div {
    display: none;
  }

  .books .books_list .books_list_block ul a {
    width: 225px;
    height: 475px;
  }
}

@media (min-width: 1024px) {
  .books {
    grid-template-areas: "filters list list list";
    grid-template-columns: repeat(4, 1fr);
  }

  .books .books_list .books_list_block {
    margin-right: 1rem;
  }

  .books .books_list .books_list_block ul a {
    width: 250px;
    height: 500px;
  }
}
