.book_card_navlink {
  text-decoration: none;
  color: black;
}

.book_card {
  background: var(--book-card-background-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
}

.book_card img {
  height: 60%;
  max-width: 100%;
  padding: 0 0.5rem;
}

.book_card .wishlist_icon {
  padding: 0.25rem 0.25rem 0 0;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--original-price-color);
}

.book_card .wishlist_icon:hover {
  scale: 1.2;
  color: var(--original-price-color);
}

.book_card .book_card_ratings {
  display: flex;
  position: absolute;
  left: 0;
  padding: 0.25rem;
  bottom: 45%;
  height: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  background: var(--secondary-color);
  column-gap: 0.4rem;
}

.book_card .book_card_ratings div:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.book_card .book_card_ratings p {
  font-size: small;
}

.book_card .book_card_ratings .star_icon {
  color: var(--star-color);
}

.book_card .book_card_content {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5rem 1rem;
}

.book_card .book_card_content .book_card_content_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.book_card .book_card_content .book_card_content_author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.book_card .book_card_content .book_card_content_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--discounted-price-color);
}

.book_card .book_card_content .book_card_content_price p:nth-child(2) {
  text-decoration: line-through;
  color: var(--original-price-color);
  margin-right: 2rem;
}

.book_card .book_card_content button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
}

.book_card .book_card_content button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1.5px solid var(--secondary-color);
}

.book_card .book_card_content .book_card_button {
  border-radius: 5px;
}

.book_card .book_card_content .book_card_button .book_card_button_text {
  width: 100%;
}

.book_card
  .book_card_content
  .book_card_button
  .book_card_button_text
  .book_card_wishlist_qty {
  display: flex;
  justify-content: space-between;
}

.book_card .book_card_content .book_card_qty_remove {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.book_card .book_card_content .book_card_qty_remove .book_card_qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .book_card .book_card_content {
    row-gap: 10%;
  }

  .book_card .book_card_content .book_card_content_price p:nth-child(2) {
    margin-right: 3rem;
  }
}
