.book_card_navlink {
  text-decoration: none;
  color: black;
}

.book_card {
  background: var(--book-card-background-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
}

.book_card .book_image_card {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.book_card .book_image_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1) rotate(0);
  transition: transform 0.5s ease-in;
}

.book_card:hover img {
  transform: scale(1.1) rotate(2deg);
}

.book_card .wishlist_icon {
  padding: 2.5% 2.5% 7.5% 7.5%;
  position: absolute;
  top: 0;
  margin-left: -50px;
  right: 0;
  height: 3rem;
  width: 3rem;
  color: var(--original-price-color);
}

.book_card .wishlist_icon:hover {
  scale: 1.2;
  color: var(--original-price-color);
}

.book_card .book_card_content {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5rem;
}

.book_card .book_card_content .book_card_ratings_row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.book_card .book_card_content .book_card_ratings_row .book_card_ratings {
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.book_card
  .book_card_content
  .book_card_ratings_row
  .book_card_ratings
  .star_icon {
  display: flex;
  color: var(--star-color);
}

.book_card .book_card_content .book_card_content_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.book_card .book_card_content .book_card_content_author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.book_card .book_card_content .book_card_content_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--discounted-price-color);
}

.book_card .book_card_content .book_card_content_price p:nth-child(2) {
  text-decoration: line-through;
  color: var(--original-price-color);
  margin-right: 4rem;
}

.book_card .book_card_content .book_card_btn_qty_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book_card .book_card_content .book_card_btn_qty_wrapper .cart_book_card_qty {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book_card .book_card_content .book_card_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border: 1.5px solid transparent;
  border-radius: 5px;
}

.book_card .book_card_content .book_card_button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1.5px solid var(--secondary-color);
  transition-duration: 500ms;
}

.book_card .book_card_content .book_card_btn_qty_wrapper button,
.book_card
  .book_card_content
  .book_card_btn_qty_wrapper
  .cart_book_card_qty
  button {
  width: auto;
  padding: 0.25rem 0.6rem;
}

.book_card .book_card_content .book_card_button .book_card_button_text {
  width: 100%;
}

.book_card
  .book_card_content
  .book_card_button
  .book_card_button_text
  .book_card_wishlist_qty {
  display: flex;
  justify-content: space-between;
}

.book_card .book_card_content .book_card_qty_remove {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.book_card .book_card_content .book_card_qty_remove .book_card_qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 528px) {
  .book_card .wishlist_icon {
    padding: 2.5% 2.5% 10% 10%;
  }
}

@media (min-width: 768px) {
  .book_card .wishlist_icon {
    padding: 5%;
  }

  .book_card .book_card_content .book_card_content_price p:nth-child(2) {
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .book_card .book_card_content {
    padding: 0.5rem 1rem;
  }
}
