.go_to_top {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  cursor: pointer;
  scale: 2;
  color: var(--primary-color);
}

.go_to_top:hover {
  scale: 2.25;
  transition-duration: 500ms;
}
