.footer {
  background: var(--header-color);
  width: 100%;
  padding: 1rem;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  grid-template-areas: "app-info" "connect" "links";
}

.footer .footer-app-info {
  grid-area: app-info;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer .footer-connect {
  grid-area: connect;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.footer .footer-connect .footer-connect-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.footer .footer-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer .footer-links .footer-links-list {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.footer .navlink {
  text-decoration: none;
  color: black;
  display: flex;
}

.footer .navlink:hover {
  scale: 1.2;
}

@media (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "connect links" "app-info app-info";
  }
}

@media (min-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "connect app-info links";
  }

  .footer .footer-links .footer-links-list {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}
