.footer {
  width: 100%;
  background: var(--secondary-color);
}

.footer .footer_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  grid-template-areas: "links" "app-info" "connect";
}

.footer .footer_wrapper .footer_app_info {
  grid-area: app-info;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer .footer_wrapper .footer_connect {
  grid-area: connect;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.footer .footer_wrapper .footer_connect .footer_connect_links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.footer .footer_wrapper .footer_links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer .footer_wrapper .footer_links .footer_links_list {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
  flex-wrap: wrap;
}

.footer .footer_wrapper .navlink {
  text-decoration: none;
  color: black;
  display: flex;
}

.footer .footer_wrapper .navlink:hover {
  scale: 1.2;
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .footer .footer_wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "connect app-info links";
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .footer .footer_wrapper {
    padding: 1rem;
  }
}
