.signUp_page {
  max-width: 1440px;
  margin: 20px auto;
  padding: 1.5rem 2rem;
  background: var(--book-card-background-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signUp_page .signUp_heading {
  text-transform: uppercase;
}

.signUp_page form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signUp_page label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signUp_page .signUp_input {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  width: 100%;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.signUp_page .signUp_btn_pwd {
  margin-top: -2.35rem;
  padding-right: 0.25rem;
  flex-direction: row;
  align-self: flex-end;
  scale: 0.7;
  border: none;
  background: none;
}

.signUp_page .signUp_label_accept {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.signUp_page .signUp_btn {
  padding: 0.5rem 2rem;
  border: 1.5px solid var(--primary-color);
  background: var(--secondary-color);
  color: white;
}

.signUp_page .signUp_btn:hover {
  cursor: pointer;
  background: var(--primary-color);
  transition-duration: 500ms;
}

.signUp_page .navlink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.signUp_page .signUp_btn_login {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.signUp_page .signUp_btn_login:hover {
  cursor: pointer;
  color: var(--primary-color);
  transition-duration: 500ms;
}
