:root {
  --primary-color: #a855f7;
  --secondary-color: #c4b5fd;
  --original-price-color: red;
  --discounted-price-color: green;
  --book-card-background-color: rgb(245, 243, 243);
  --star-color: yellow;
  --card-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --product-card-box-shadow: rgba(22, 13, 13, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --selected-product-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --button-transition: all 0.1s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.25em;
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--primary-color) var(--secondary-color);
    scrollbar-width: thin;
  }
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.9rem;
}

h3,
p,
button {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  p,
  button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.35rem;
  }
}
